
body{
	background-color: #f0f0f0;
}


#gameContainer
{
	height: 500px;
	position: relative;
	width: 800px;
	
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	cursor: default !important;
}
#viewport
{
	height: 100%;
	width: 100%;
}
#HUD
{
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
	top: 0;
}

#title
{
	margin-top: 50px;
	font-size: 50px;
	text-align: center;
	color: whitesmoke;
	font-family: 'Lobster', cursive;
}

#clickToStart
{
	margin-top: 80px;
	font-size: 20px;
	text-align: center;
	color: whitesmoke;
	font-family: 'Lobster', cursive;
}

#score
{
	color: whitesmoke;
	font-family: 'Lobster', cursive;
	margin-top: 126px;
	font-size: 22px;
	margin-left: auto;
	margin-right: auto;
}

#currentScore
{
	color: whitesmoke;
	font-family: 'Lobster', cursive;
	margin-top: 0px;
	font-size: 22px;
	text-align: center;
}

#jumpQuality
{
	font-family: 'Lobster', cursive;
	font-size: 22px;
	color: green;
	position: absolute;
	
	right: 275px;
	top: 241px;
}

