
#gameContainer
{
	height: 500px;
	position: relative;
	width: 800px;
	
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
#viewport
{
	height: 100%;
	width: 100%;
}
#HUD
{
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
	top: 0;
}

#title
{
	margin-top: 50px;
	font-size: 50px;
	text-align: center;
	color: whitesmoke;
	font-family: 'Lobster', cursive;
}

#clickToStart
{
	margin-top: 80px;
	font-size: 20px;
	text-align: center;
	color: whitesmoke;
	font-family: 'Lobster', cursive;
}

#score
{
	color: whitesmoke;
	font-family: 'Lobster', cursive;
	margin-top: 155px;
	font-size: 22px;
}

#jumpQuality
{
	font-family: 'Lobster', cursive;
	font-size: 22px;
	color: green;
	position: absolute;
	
	right: 275px;
	top: 241px;
}

